<div class="header">
  <div class="logo">Konva</div>
  <div class="button-group">
    <mat-button-toggle-group #groupSelector="matButtonToggleGroup" (change)="pointer = +$event.value">
      <mat-button-toggle value="1" checked="true">
        <mat-icon>done</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="2">
        <mat-icon>done_all</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <a mat-icon-button (click)="join()" [disabled]="konvaService.selectedItems.length < 2">
      <mat-icon>link</mat-icon>
    </a>
  </div>
</div>
<div class="main">
  <app-pallette (add)="add($event)"></app-pallette>
  <div id="konvaboard"></div>
  <app-sidebar></app-sidebar>
</div>
