.pallette-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 45px;
  border: 1px solid #9c9c9c;
  text-align: center;
  padding: 0 0 2px 0;
  box-shadow: 1px 1px 1px 0 #6b6b6b;
  .box-header {
    background-color: black;
    color: white;
    font-size: 12px;
    margin-bottom: 4px;
    padding: 2px;
  }
}
